<h1>Listing aboboras</h1>

<table>
  <tr>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aboboras.each do |abobora| %>
  <tr>
    <td><%= abobora.nome %></td>
    <td><%= link_to 'Show', abobora %></td>
    <td><%= link_to 'Edit', edit_abobora_path(abobora) %></td>
    <td><%= link_to 'Destroy', abobora, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Abobora', new_abobora_path %>
