
<%= simple_form_for(@professor, :html => { :class => 'form-vertical' })  do |f| %>
    <% content_for :h1 do %>
        Cadastro de Professor
    <% end %>

    <% if notification = f.error_notification %>
        <div class="alert alert-error fade in">
          <a class="close" data-dismiss="alert" href="#">&times;</a>
          <%= notification %>
        </div>
    <% end %>
    <%= f.input :nome, :input_html => { :class => 'text_field span12' }%>
    <%= f.input :email %>
    <%= f.input :nascimento, :as => :string,  :input_html => { data: {behaviour: "datepicker"}} %>
    <%= f.input :graduacao, :as => :text, :input_html => { :cols => 80, :rows => 10,:class => 'text_area span12' } %>

    <div class="form-actions">
        <%= f.button :submit, :class => 'btn btn-primary' %>
        <%= f.button :button, 'Cancel', :type => 'reset', :class => 'btn btn-danger' %>
    </div>
<% end %>







