<!DOCTYPE html>
<html>
<head>
  <title>Service Desk</title>
  <%= stylesheet_link_tag "application", :media => "all"  %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<header>
  <h1>Controle de Escolas</h1>
</header>
<nav>
  <% if user_signed_in? %>
      Signed in as <%= current_user.email %>
      <%= link_to "Login", destroy_user_session_path, :method => :delete %>
  <% end %>
</nav>
<section id="main">
  <div class="flash">
    <% flash.each do |type, message| -%>
        <div class="message <%= type %>">
          <p><%= message %></p>
        </div>
    <% end -%>
  </div>
  <%= yield %>
</section>
<footer>
  <sub>Controle de Escolas</sub>
</footer>
</body>
</html>