<!DOCTYPE html>
<html>

<head>

  <title>Controle de Escola</title>
  <%= stylesheet_link_tag "application", :media => "all"  %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">

      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Controle de Escola</a>
      <% if user_signed_in? %>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>

        </ul>
            <p class="navbar-text pull-right">Logged in as <%= current_user.email %>
                <%= link_to "logout", destroy_user_session_path, :method => :delete %>
            </p>
         <% end %>
      </div><!--/.nav-collapse -->

    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row-fluid row">
    <div class="span3">
      <div class="well sidebar-nav-fixed">
       <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              Controle de Usuários
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
              <%= link_to :Professores, professores_path %>
            </div>
            <div class="accordion-inner">
              <%= link_to :Alunos,  alunos_path %>
            </div>

          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              Collapsible Group Item #2
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
              Anim pariatur cliche...
            </div>
          </div>
        </div>
      </div>
      </div><!--/.well -->
    </div><!--/span-->

    <div class="span9 span-fixed-sidebar padding-top:60px">
      <div class="hero-unit">
        <%= yield %>
      </div>


  <hr>



</div><!--/.fluid-container-->


</body>
</html>